USE [master]
GO
/****** Objeto: Database [AutosDB] Fecha de script: 9/1/2026 8:33:01 PM ******/
CREATE DATABASE [AutosDB]
GO


USE [AutosDB]
GO
/****** Objeto: Table [dbo].[TBL_CATEGORIAS] Fecha de script: 9/1/2026 8:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_CATEGORIAS](
	[IdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](250) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[VEHICULO] Fecha de script: 9/1/2026 8:33:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULO](
	[IdVehiculo] [int] IDENTITY(1,1) NOT NULL,
	[Placa] [varchar](20) NOT NULL,
	[Marca] [varchar](100) NOT NULL,
	[Modelo] [varchar](100) NOT NULL,
	[Anio] [int] NOT NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Estado] [bit] NOT NULL,
	[IdCategoria] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdVehiculo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIAS] ON 

INSERT [dbo].[TBL_CATEGORIAS] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (1, N'SUVs y Crossover', N'Vehiculos utilitarios deportivos familiares', 1)
INSERT [dbo].[TBL_CATEGORIAS] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (2, N'Sedan', N'Vehiculos sedan familiares y ejecutivos', 1)
INSERT [dbo].[TBL_CATEGORIAS] ([IdCategoria], [Nombre], [Descripcion], [Estado]) VALUES (3, N'Deportivos', N'Vehiculos de alto rendimiento y velocidad', 1)
SET IDENTITY_INSERT [dbo].[TBL_CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[VEHICULO] ON 

INSERT [dbo].[VEHICULO] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (3, N'PBC-9012', N'Ford', N'Mustang', 2024, CAST(58000.00 AS Decimal(10, 2)), 1, 3)
INSERT [dbo].[VEHICULO] ([IdVehiculo], [Placa], [Marca], [Modelo], [Anio], [Precio], [Estado], [IdCategoria]) VALUES (4, N'PBD-4321', N'Toyota', N'Corolla', 2024, CAST(22500.00 AS Decimal(10, 2)), 1, 1)
SET IDENTITY_INSERT [dbo].[VEHICULO] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objeto: Index [UQ__VEHICULO__8310F99D0413963A] Fecha de script: 9/1/2026 8:33:02 PM ******/
ALTER TABLE [dbo].[VEHICULO] ADD UNIQUE NONCLUSTERED 
(
	[Placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TBL_CATEGORIAS] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[VEHICULO] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[VEHICULO]  WITH CHECK ADD  CONSTRAINT [FK_VEHICULO_CATEGORIA] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[TBL_CATEGORIAS] ([IdCategoria])
GO
ALTER TABLE [dbo].[VEHICULO] CHECK CONSTRAINT [FK_VEHICULO_CATEGORIA]
GO
USE [master]
GO
